html{
    scroll-behavior: smooth;
  }
  
body{
    background-color: #e3e3e3;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
  }

h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
  }

h2{
    font-size: 32px;
    line-height: 1.5;
  }